body {
    background-image: url("./bloconotas.png"); 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: 100% 100%;
    overflow: auto;
    
}

h1 {
    color: #000000;
    font-family: "Patrick Hand", cursive;

}

#todo {
    
    margin-left: 30%;
    margin-top: 50%;
}

#market {
    
    padding-left: 50%;
}

#item {
   width: 124px;
   margin-left: 9%;
}
#obs {
    width: 200px;
    display: flex;
    margin-top: 5px;
    margin-left: 9%;
}
main {
display:flex;
width: 80%;
}
#itembox {
    margin-left: 10%;
}

#addbox{
    width: 300px;   
    height: 50px;
    
    
    
    
}
#add {
    width: 50px;   
    height: 50px;
    margin-left: 50%;
    margin-right: auto;
    
}
#qt {
    width: 20px;
    text-align: center;
}

#menulist {
    gap: 50px;
    display: flex;
    margin: 30px auto 20px;
    justify-content: center;
}

#list {
    color: #f0f0f0;
   display: flex;
   flex-direction: column;
   width: 85%;
   margin-left: 4%;
   font-size: 18px;
   margin-bottom: 190px;
   font-family: "Patrick Hand", cursive;
   
}
td {
    padding: 2px;
    border-bottom: 1px solid #000000;
    border-right: 2px solid #000000;
    
}
tr{
    color: #000000;
    margin-left: 20px;
    margin-bottom: 10px;
}
input{

}
#box1 {
    width: 125px;
    text-align: center;
}
#box2 {
    width: 30px;
    text-align: center;
}
#box3 {
    width: 125px;
    padding-left: 5px;
    border-right: none;
}
#lista {
    color: #f0f0f0;
    font-size: 20px;
    padding-left: 4%;
    }

    .linha {
            display: table-row;
    }
    .celula {
            display: table-cell;
            border: 1px solid #cccccc;
            padding: 8px;
            text-align: left;
        }
        .cabecalho {
            font-weight: bold;
            background-color: #f2f2f2;
        }
.checkbox {
            cursor: pointer;
}
